@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h5>Great page developed</h5>
        <h4>Great page developed</h4>
        <h3>Great page developed</h3>
        <h2>Great page developed</h2>
        <h1>Great page developed</h1>
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
